body{
    margin: 0px;
}



@media screen and (max-width: 767px){
    
    .bg-container{
        background-image: url("https://thumbs.dreamstime.com/b/fiery-red-chili-pepper-engulfed-flames-flying-sparks-fiery-red-chili-pepper-engulfed-flames-flying-sparks-317438514.jpg");
        min-height: 100vh;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

     .head{
        font-family: "Inter";
        color:#ffffff;
        font-size: 40px;
        font-weight: bold;
        margin-top: 15vh;
        text-align: center;
    }

    .btn{
        height: 4vh;
        width: 10vh;
        font-family: "Roboto";
        color:#ffffff;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        background-color: transparent;
        border: 1px solid #83abb2;
        border-radius: 6px;

    }

    .image-container{
        display: none;
    }


    .image-container-1{
        display: flex;
        flex-direction: column;
        text-align: left;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .img{
        height: 20vh;
        width: 40vh;
        margin: 15px;
        border-radius: 6px;
    }

}


.bg-container{
    background-image: url("https://wallpaperaccess.com/full/767567.jpg");
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.head{
    font-family: "Inter";
    color:#ffffff;
    font-size: 80px;
    font-weight: bold;
    margin-top: 30vh;
    text-align: center;
}

.btn{
    height: 5vh;
    width: 15vh;
    font-family: "Roboto";
    color:#ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    border: 1px solid #83abb2;
    border-radius: 6px;

}

.image-container{
    display: none;
}


.image-container-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img{
    height: 30vh;
    width: 60vh;
    margin: 20px;
    border-radius: 6px;
}

